/*Selector{
	Property: valvue;
}*/

/*CSS == Cascading Style Sheet*/

#h1{
	text-align: right;
}
body{

	background-image: url(backgroundimage.jpg);
	background-size: cover;
}

h2{
	color: red;
	text-align: center;
	border: 5px solid black;
	cursor: pointer;
}

p{
	color: green;
}

li{
	list-style: none;
	display: inline-block;
}

